.navbar {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-left: auto !important;
}

.green{
    background-color: rgba(63, 90, 54, 0.4);
}

.navbar-app{
    width: 100%;
    margin: auto;
}

.logo-loo {
  position: relative;
  height: 50px;
  margin-right: 65px;
}

.logo-icon {
  position: relative;
  height: 80px;
  margin-right: 5px;
}

.map-container {
  display: flex;
  width: 100vw;
  justify-content: center;
}

