*{
    font-family: Helvetica, sans-serif;
}
.home-div {
    color: rgb(51, 51, 51);
    border: none;
    border-radius: 30px;
    padding: 15px;
    padding-top: 20px;
    padding-bottom: 80px;
}

.menu{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    bottom: 0;
    width: 440px;
}

.waterlog-icon{
    height: 100px;
}

.map-icon{
    height: 100px;
}

.water{
    background-color: #6bb9cc75;
    position: relative;
    bottom: 40px;
}
.goose{
    width: 150px;
    position: relative;
}
